.widget {
    color: #91a8f3;
    text-decoration: none;
    padding: 15px 0em;
    position: relative;
    display: flex;
    align-items: flex-start;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}